TBL_N|DELETE|STG2ETL|ETL2COMPACT|SYS
DIM_PLAN_PROGRAM_TYPE|DEL|ETL|COMPACT|SMART
DIM_PLAN_PROGRAM|DEL|ETL|COMPACT|SMART
DIM_LANGUAGE|DEL|ETL|COMPACT|SMART
DIM_DRG_CODE|DEL|ETL|COMPACT|SMART
DIM_BILL_TYPE|DEL|ETL|COMPACT|SMART
DIM_CLAIM_STATUS|DEL|ETL|COMPACT|SMART
DIM_CLASS|DEL|ETL|COMPACT|SMART
DIM_COS_STL_4|DEL|ETL|COMPACT|SMART
DIM_PLACE_OF_SVC|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_PAR_STAT|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_TYPE|DEL|ETL|COMPACT|SMART
DIM_PRODUCT|DEL|ETL|COMPACT|SMART
DIM_CPT_CAT_LVL_2|DEL|ETL|COMPACT|SMART
DIM_CPT_CAT_LVL_3|DEL|ETL|COMPACT|SMART
DIM_DIAG_CAT_LVL_2|DEL|ETL|COMPACT|SMART
DIM_AHFS_THER_CLASS_CODE|DEL|ETL|COMPACT|SMART
DIM_LINE_OF_BUSINESS|DEL|ETL|COMPACT|SMART
DIM_AUTO_ADJUD_FLAG|DEL|ETL|COMPACT|SMART
DIM_GROUP|DEL|ETL|COMPACT|SMART
DIM_MEDICARE_TYPE|DEL|ETL|COMPACT|SMART
DIM_RATE_TYPE|DEL|ETL|COMPACT|SMART
DIM_REASON_CODE_GROUP|DEL|ETL|COMPACT|SMART
DIM_RX_GENERIC_BRAND_IND|DEL|ETL|COMPACT|SMART
DIM_UNCLEAN_FLAG|DEL|ETL|COMPACT|SMART
DIM_CARE_LEVEL|DEL|ETL|COMPACT|SMART
DIM_IO_FLAG|DEL|ETL|COMPACT|SMART
DIM_PROV_CRED_TYPE|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_CONTRACT_TYPE|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_CREDENTIAL|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_IDENT|DEL|ETL|COMPACT|SMART
DIM_RATECELL_RATE|DEL|ETL|COMPACT|SMART
DIM_REASON_CODE|DEL|ETL|COMPACT|SMART
DIM_PROCEDURE_MODIFIER|DEL|ETL|COMPACT|SMART
DIM_CPT_CAT_LVL_1|DEL|ETL|COMPACT|SMART
DIM_DIAG_CAT_LVL_1|DEL|ETL|COMPACT|SMART
DIM_LINE_OF_BUSINESS_TYPE|DEL|ETL|COMPACT|SMART
DIM_COSMOS_CUST_SEG|DEL|ETL|COMPACT|SMART
DIM_RATECELL_CATEGORY|DEL|ETL|COMPACT|SMART
DIM_BILL_TYPE_CAT_LVL_2|DEL|ETL|COMPACT|SMART
DIM_COS_STL_1|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_ADDRESS|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_CONTRACT|DEL|ETL|COMPACT|SMART
DIM_GEOGRAPHY|DEL|ETL|COMPACT|SMART
DIM_DIAGNOSIS|DEL|ETL|COMPACT|SMART
DIM_PROVIDER|DEL|ETL|COMPACT|SMART
DIM_PLAN|DEL|ETL|COMPACT|SMART
DIM_CLAIM_TYPE|DEL|ETL|COMPACT|SMART
DIM_COMPANY|DEL|ETL|COMPACT|SMART
DIM_FEE_SCHEDULE|DEL|ETL|COMPACT|SMART
DIM_GL_TAG|DEL|ETL|COMPACT|SMART
DIM_RATECELL_REGION|DEL|ETL|COMPACT|SMART
DIM_CONVERTED_FROM|DEL|ETL|COMPACT|SMART
DIM_ADMIT_SOURCE|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_FACILITY|DEL|ETL|COMPACT|SMART
DIM_SOURCE_PRODUCT|DEL|ETL|COMPACT|SMART
DIM_PROCEDURE_CODE|DEL|ETL|COMPACT|SMART
DIM_WHOLE_CLAIM_STATUS|DEL|ETL|COMPACT|SMART
DIM_EOB_IND|DEL|ETL|COMPACT|SMART
DIM_COS_STL_2|DEL|ETL|COMPACT|SMART
DIM_COS_STL_3|DEL|ETL|COMPACT|SMART
DIM_NETWORK|DEL|ETL|COMPACT|SMART
DIM_PROV_ADDR_INFO|DEL|ETL|COMPACT|SMART
DIM_NDC_CODE|DEL|ETL|COMPACT|SMART
DIM_PLAN_LOB|DEL|ETL|COMPACT|SMART
DIM_MEMBER|DEL|ETL|COMPACT|SMART
DIM_BILL_TYPE_CAT_LVL_1|DEL|ETL|COMPACT|SMART
DIM_PROV_AGREEMENT|DEL|ETL|COMPACT|SMART
DIM_VENDOR|DEL|ETL|COMPACT|SMART
DIM_RATECELL|DEL|ETL|COMPACT|SMART
DIM_RX_FORMULARY_IND|DEL|ETL|COMPACT|SMART
DIM_EDI_FLAG|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_SPECIALTY|DEL|ETL|COMPACT|SMART
DIM_COB_CARRIER_CODE|DEL|ETL|COMPACT|SMART
DIM_CLASS_PLAN|DEL|ETL|COMPACT|SMART
DIM_REVENUE_CAT_LVL_1|DEL|ETL|COMPACT|SMART
DIM_REVENUE_CAT_LVL_2|DEL|ETL|COMPACT|SMART
DIM_MEMBER_ADDRESS|DEL|ETL|COMPACT|SMART
DIM_IDENT_TYPES|DEL|ETL|COMPACT|SMART
DIM_CASE_EVENT|DEL|ETL|COMPACT|SMART
DIM_REVENUE_TYPE|DEL|ETL|COMPACT|SMART
DIM_PROVIDER_FACILITY_XWALK|DEL|ETL|COMPACT|SMART
DIM_COA|DEL|ETL|COMPACT|SMART
DIM_ELIG_STATUS|DEL|ETL|COMPACT|SMART
DIM_LTC_IND|DEL|ETL|COMPACT|SMART
DIM_MEDICARE_DUAL_FLAG|DEL|ETL|COMPACT|SMART
DIM_PROGRAM_STATUS_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_APPROVED_COST_SOURCE|DEL|ETL|COMPACT|SMART
DIM_RX_BILLING_ACCT|DEL|ETL|COMPACT|SMART
DIM_RX_CLIENT_TYPE|DEL|ETL|COMPACT|SMART
DIM_RX_COMPOUND_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_COST_DETERMIN_BASIC|DEL|ETL|COMPACT|SMART
DIM_RX_DISPENSE_AS_WRITTEN|DEL|ETL|COMPACT|SMART
DIM_RX_FLAG_INDICATOR|DEL|ETL|COMPACT|SMART
DIM_RX_GPI|DEL|ETL|COMPACT|SMART
DIM_RX_REFILL_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_OTC_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_OTHER_COVERAGE_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_PAYMENT_TYPE|DEL|ETL|COMPACT|SMART
DIM_RX_PLAN_DRUG|DEL|ETL|COMPACT|SMART
DIM_RX_PLAN_QUALIFIER_CODE|DEL|ETL|COMPACT|SMART
DIM_RX_PRIORAUTH_QUALIFIER|DEL|ETL|COMPACT|SMART
DIM_RX_PRODUCT_QUALIFIER|DEL|ETL|COMPACT|SMART
DIM_RX_PROVIDER_QUALIFIER|DEL|ETL|COMPACT|SMART
DIM_RX_THERAPEUTIC_GROUP|DEL|ETL|COMPACT|SMART
DIM_GNRC_THER_CLASS_CODE|DEL|ETL|COMPACT|SMART
DIM_MEDCO_THER_CLASS_CODE|DEL|ETL|COMPACT|SMART
DIM_SPEC_THER_CLASS_CODE|DEL|ETL|COMPACT|SMART
DIM_STD_THER_CLASS_CODE|DEL|ETL|COMPACT|SMART
DIM_SDA|DEL|ETL|COMPACT|SMART
DIM_ETHNIC_CODE|DEL|ETL|COMPACT|SMART
DIM_DATE_YEAR|DEL|ETL|COMPACT|SMART
DIM_DATE_QUARTER|DEL|ETL|COMPACT|SMART
DIM_DATE_MONTH|DEL|ETL|COMPACT|SMART
DIM_DATE|DEL|ETL|COMPACT|SMART
FACT_MEMBER_DEMOGRAPHICS|DEL|ETL|COMPACT|SMART
FACT_MEMBER_ELIG_HISTORY|DEL|ETL|COMPACT|SMART
FACT_MEMBER_REVENUE_DETAIL|DEL|ETL|COMPACT|SMART
FACT_CLAIM_EXTN_PROV|DEL|ETL|COMPACT|SMART
FACT_CLAIM|DEL|ETL|COMPACT|SMART
FACT_CLAIM_RX_ADDITION|DEL|ETL|COMPACT|SMART
BENF_PLAN_PROG|DEL|ETL|COMPACT|SMART
BENEFIT_PROGRAM|DEL|ETL|COMPACT|SMART
PROGRAM_STATUS|DEL|ETL|COMPACT|SMART
PATIENT_DETAILS|DEL|ETL|COMPACT|SMART
MEM_BENF_PROG|DEL|ETL|COMPACT|SMART
PATIENT_INDEX|DEL|ETL|COMPACT|SMART
INDEX_NAME|DEL|ETL|COMPACT|SMART
LOB|DEL|ETL|COMPACT|SMART
LOB_BENF_PLAN|DEL|ETL|COMPACT|SMART
INTERNAL_PROGRAM_REASON|DEL|ETL|COMPACT|SMART
ACO_TIN_LIST|DEL|ETL|COMPACT|SMART
ACO_CONTRACTS|DEL|ETL|COMPACT|SMART
ACO_PRODUCTS|DEL|ETL|COMPACT|SMART
ACO_SNAPSHOT_SUMMARY|DEL|ETL|COMPACT|SMART
NDC_DRUG|DEL|ETL|COMPACT|SMART
DBA_VALIDATION_COUNTS|ETL|SMART
ADJUDICATION_OFFICE|DEL|ETL|COMPACT|UNET_GALAXY
CLAIM_ORIGINATION_CODE|DEL|ETL|COMPACT|UNET_GALAXY
CUSTOMER_SEGMENT_GROUP_STRUCTURE|DEL|ETL|COMPACT|UNET_GALAXY
PLACE_OF_SERVICE_CODE|DEL|ETL|COMPACT|UNET_GALAXY
PROCEDURE_MODIFIER_CODE|DEL|ETL|COMPACT|UNET_GALAXY
PROVIDER|DEL|ETL|COMPACT|UNET_GALAXY
UNET_CLAIM_HEADER|DEL|ETL|COMPACT|UNET_GALAXY
UNET_CLAIM_STATISTICAL_SERVICE|DEL|ETL|COMPACT|UNET_GALAXY
CUSTOMER_SEGMENT_COVERAGE|DEL|ETL|COMPACT|UNET_GALAXY
MHSA_CODE|DEL|ETL|COMPACT|UNET_GALAXY
UNET_FACILITY_UB92|DEL|ETL|COMPACT|UNET_GALAXY
MEMBER|DEL|ETL|COMPACT|UNET_GALAXY
ZIP|DEL|ETL|COMPACT|UNET_GALAXY
TB_DIAG|DEL|ETL|COMPACT|EDW
TB_SYS_DERIV_LVL_OF_CARE_CATGY_XREF|DEL|ETL|COMPACT|EDW
TB_PROC|DEL|ETL|COMPACT|EDW
TB_CUS_GRP_ALT|DEL|ETL|COMPACT|EDW
TB_CUS_GRP|DEL|ETL|COMPACT|EDW
TB_CUST_ACCT_ORG_SALE_CHNL_XREF|DEL|ETL|COMPACT|EDW
STG_GALA_PROVIDER|DEL|ETL|COMPACT|EDW
TB_PRV_PROVIDER_ALT|DEL|ETL|COMPACT|EDW
TB_PRV_PROVIDER|DEL|ETL|COMPACT|EDW
TB_AMA_POS|DEL|ETL|COMPACT|EDW
TB_PRV_PRAC_ALT|DEL|ETL|COMPACT|EDW
TB_PRV_PROV|DEL|ETL|COMPACT|EDW
TB_AUT_AUTH|DEL|ETL|COMPACT|EDW
TB_PRV_PROV_ALT|DEL|ETL|COMPACT|EDW
TB_SYS_DERIV_LVL_OF_CARE_XREF|DEL|ETL|COMPACT|EDW
TB_AUT_AUTH_DEV|DEL|ETL|COMPACT|EDW
STM_FCET_CMC_MCTN_TAX_NAME|DEL|ETL|COMPACT|EDW
STG_GALA_REASON_CODE|DEL|ETL|COMPACT|EDW
STG_GALA_MEMBER|DEL|ETL|COMPACT|EDW
STG_CRR_APGENERATIONRESPONSE|DEL|ETL|COMPACT|EDW
STG_CRR_APTRANSACTION|DEL|ETL|COMPACT|EDW
STG_CRR_CLABENEFIT|DEL|ETL|COMPACT|EDW
STG_CRR_CLABENEFITALLOWED|DEL|ETL|COMPACT|EDW
STG_CRR_CLABENEFITPROVIDER|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMDIAGNOSIS|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMEVENT|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMINSTPROC|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMLINEADJUDICATION|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMLINEINST|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMMEMBER|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMPRICINGOUTPUTHEADER|DEL|ETL|COMPACT|EDW
STG_CRR_INTERNALADJUSTREASONCODE|DEL|ETL|COMPACT|EDW
STG_CRR_REFERENCE|DEL|ETL|COMPACT|EDW
STG_CRR_SUBSAFFILIATIONEXTERNALID|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMPROVIDER|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMPROVIDERADDRESS|DEL|ETL|COMPACT|EDW
STG_CRR_APTRANSACTIONDETAIL|DEL|ETL|COMPACT|EDW
STG_CRR_MEMGROUPCONTRACT|DEL|ETL|COMPACT|EDW
STG_CRR_BENEFITPLAN|DEL|ETL|COMPACT|EDW
STG_CRR_CLABENEFITCODE|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMHEADER|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMLINEPROF|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMPAYONSETOFFSETVIEW|DEL|ETL|COMPACT|EDW
STG_CRR_MEMBERBENEFIT|DEL|ETL|COMPACT|EDW
STG_CRR_USERCLAIMCANCELCODE|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMHEADERINST|DEL|ETL|COMPACT|EDW
STG_CRR_MEMGROUPADDRESS|DEL|ETL|COMPACT|EDW
STG_CRR_CLAIMSUBSCRIBER|DEL|ETL|COMPACT|EDW
TB_MEM_MBR|DEL|ETL|COMPACT|EDW
TB_PRV_PROVIDER_ADR|DEL|ETL|COMPACT|EDW
TB_PRD_PKG_ALT|DEL|ETL|COMPACT|EDW
TB_MEM_MBR_ALT|DEL|ETL|COMPACT|EDW
STAR_CLINICAL_REVIEW|DEL|ETL|COMPACT|EDW
STAR_EXCLUSION_RULE_FAILURES|DEL|ETL|COMPACT|EDW
STAR_EPISODE_OF_CARE|DEL|ETL|COMPACT|EDW
FACT_CLAIM_DELETED_LOG|DEL|ETL|COMPACT|SMART
T_AUTH_CLAIM_INFO|DEL|ETL|COMPACT|EDW